

.pricingTable{
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #08c6aa;
    border-left: 2px solid #08c6aa;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #08c6aa;
    border-top: 2px solid #08c6aa;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    background: #08c6aa;
    color: #fff;
    margin: -2px -2px 35px;
    padding: 40px 0;
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.pricingTable .currency{
    font-size: 45px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -30px;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: #7a7e82;
    line-height: 40px;
}

.pricingTable .read{
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: #7a7e82;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover{
    border-color: #08c6aa;
    color: #08c6aa;
}

.pricingTable .read i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i{
    right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after{
    content: "";
    display: block;
    height: 34px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .read:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after{
    border-left-color: #08c6aa;
}

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}

/*Table-1*/

.demo
{
    padding: 50px 0;
}
.heading-title
{
    margin-bottom: 50px;
}
.pricingTable1 {
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0 -15px;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}

.pricingTable1:hover{
    border: 2px solid #e46367;
    margin-top: -30px;
}

.pricingTable1 .pricingTable1-header{
    padding: 30px 10px;
}

.pricingTable1 .heading{
    display: block;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size:21px;
}

.pricingTable1 .pricing-plans {
    padding-bottom: 25px;
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-weight: 900;
}

.pricingTable1 .price-value{
    color: #474747;
    display: block;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
    padding: 0 10px;
}

.pricingTable1 .price-value span{
    font-size: 50px;
}

.pricingTable1 .subtitle{
    color: #82919f;
    display: block;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 100;
}

.pricingTable1 .pricingContent ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.pricingTable1 .pricingContent ul li{
    padding: 20px 0;
}

.pricingTable1 .pricingContent ul li:nth-child(odd) {
    background-color: #fff;
}

.pricingTable1 .pricingContent ul li:last-child{
    border-bottom: 1px solid #dbdbdb;
}

.pricingTable1 .pricingTable1-sign-up{
    padding: 25px 0;
}

.pricingTable1 .btn-block{
    width: 50%;
    margin: 0 auto;
    background: #e46367;
    border:1px solid transparent;
    padding: 10px 5px;
    color:#fff;
    text-transform: capitalize;
    border-radius: 5px;
    transition:0.3s ease;
}

.pricingTable1 .btn-block:after{
    content: "\f090";
    font-family: 'FontAwesome';
    padding-left: 10px;
    font-size: 15px;
}

.pricingTable1:hover .btn-block{
    background:#fff;
    color: #e46367;
    border:1px solid #e46367;
}

@media screen and (max-width:990px){
    .pricingTable1{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:767px){
    .pricingTable1{
       margin: 0 0 30px 0;
    }
}@charset "utf-8";
/* CSS Document */


/*Table -2*/

body{
    background-color: #f8f9fa!important;
    margin-top:20px;
}

.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social .social-icon:hover {
    color: #f6576e !important;
}

.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after,.back-to-top:hover {
    background-color: #f6576e;
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
    border-color: #f6576e;
}

.service-box .services-icon,
.price-features p i {
    background-color: rgba(246, 87, 110, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    border-color: #e45267;
    background-color: #e45267;
}


.price-box {
    padding: 40px 50px;
}

.plan-price h1 span {
    font-size: 16px;
    color: #000;
}

.price-features p i {
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
}